@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf) format("opentype");
}

body {
    margin: 0;
    padding: 0;
    font-family: "Anek Latin", sans-serif;
    background-color: #e5e7eb;
    width: 100vw;
}

.container {
    min-height: 100vh;
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 5;
    background-image: url(./images/bg.jpg);
    background-size: cover;
    background-position: center;
}

.logo {
    font-family: "Norse-Bold", sans-serif;
    display: flex;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    color: #fff;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 20vh;
}

.logo img {
    height: auto;
    width: 100px;
}

.logo p {
    margin: 0;
    font-size: 80px;
}

#caption {
    position: absolute;
    bottom: 0;
    color: #fff;
}

#caption a {
    color: #fff;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 8;
    background-color: #e5e7eb;
}

.hook {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 40px;
    width: 80%;
    margin-bottom: 50px;
}

.hook p {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    line-height: 1.1;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 10px 10px -10px rgb(207, 207, 207);
}

.input-area {
    display: flex;
    width: 80%;
    padding-left: 40px;
}

.input-left, .input-right {
    width: 50%;
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 70%;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 12px;
    gap: 5px;
}

.input.error input {
    appearance: none;
    border: 1px solid #ff0000;
    height: 25px;
}

.input.error p {
    color: #ff0000;
    margin: 0;
    font-size: 10px;
}

.hide {
    margin: 0;
    color: #fff;
    font-size: 10px;
}

input {
    appearance: none;
    border: 1px solid #e5e7eb;
    height: 25px;
}

input:focus {
    outline: none;
    border: 1px solid #0000ff;
    box-shadow: 0 0 5px grey;
}

.button-area {
    margin-left: 40px;
    margin-top: 30px;
}

button {
    font-family: "Anek Latin", sans-serif;
    border-style: none;
    background-color: #596d48;
    color: #fff;
    padding: 12px 40px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    transition: all 0.2s;
    background-color: #3b4e2b;
}

.button-area a {
    cursor: pointer;
    color: #596d48;
    font-weight: 600;
}

.button-area a:hover {
    transition: all 0.2s;
    color: #3b4e2b;
}